.balance-card-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.balance-card-items p{
  margin-bottom: 15px;
  font-size: 22px;
}
.balance-card-items h1{
  font-size: 36px;
}
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 0 20px;
}
.header-greeting{
  margin-left:7px;
}
.dash-card-items{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-left:10px;
}
.fas {
  margin-right:7px;
}
